node_modules
out
.shadow-cljs
.nrepl-port
.clj-kondo/.cache
yarn-error.log
report.html
/.vscode/
/resources/public/js
/resources/public/js-cards
/.lein-repl-history
/log/
/target/
/.lsp/
.cpcache
/.cache/
/.clj-kondo/
/.config.edn
/.data/
/.clerk/
/.rebel_readline_history
/.rebl/
/.envrc
