{:paths [;; "src"
         ;; "src/nb"
         ;; "resources"
         ]
 :deps { ;; xtdb
        com.xtdb/xtdb-core {:mvn/version "1.21.0"}
        com.xtdb/xtdb-rocksdb {:mvn/version "1.21.0"}
        com.xtdb/xtdb-metrics {:mvn/version "1.21.0"}
        com.xtdb/xtdb-http-server {:mvn/version "1.21.0"}
        com.xtdb/xtdb-http-client {:mvn/version "1.21.0"}
        com.xtdb/xtdb-lucene {:mvn/version "1.21.0"}
        }
 :jvm-opts ["-Xmx2G"]
 :aliases {:xt {:main-opts ["-m" "xtdb.main"]}}}
